body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  background: #fff;
}

.wrapper {
  width: 1920px;
  margin: 0 auto;
}

.Frame1 {
  width: 1720px;
  margin: 0 auto;
  position: relative;
  background: white;
  overflow: hidden;
}
