body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Pattaya', sans-serif;
}


  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  line-height: 1.6;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  cursor: pointer;
  transition: opacity 0.3s ease;
}

nav li:hover {
  opacity: 0.7;
}
button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #474747;
}
footer {
  margin-top: 40px;
  text-align: center;
  color: #777;
  font-size: 0.9em;
}
