/* Сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.tagline {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  max-width: 100%;
  margin-top: 16px;
}

.tagline p {
  margin-bottom: 12px;
}

.tagline strong {
  font-weight: 600;
  display: block;
}


.bottom-left-block {
  position: absolute;
  bottom: 10%;
  left: 200px;
  width: 40%; /* ограничивает ширину */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.bottom-left-block .logo {
  width: 100px; /* отрегулируй под макет */
  height: auto;
  margin-bottom: 40px;
}

.bottom-left-block .tagline {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

    
  .portfolio-block {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 60vw;
    margin-top: 20vh;
  }
  
  .portfolio-nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin-bottom: 12px;
  }
  
  .portfolio-nav button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-transform: lowercase;
  }
  
  .portfolio-nav button.active {
    border-bottom: 1px solid #fff;
  }
  
  .carousel-wrapper {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  
  .carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.3s ease;
  }
  
  .carousel-item {
    min-width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #111;
    color: #fff;
    font-size: 2rem;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-arrow.left {
    left: 0;
  }
  
  .carousel-arrow.right {
    right: 0;
  }
  


.intro-block .quote {
  margin-top: 30px;
  font-style: italic;
  font-size: 0.95rem;
  color: #ccc;
}


.hero h1 {
  font-size: 3rem;
  max-width: 800px;
  line-height: 1.2;
}

/* Стрелка */
.scroll-hint {
  margin-top: 40px;
  font-size: 2rem;
  opacity: 0.6;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}
