body {
  margin: 0;
  background: white;
  font-family: 'Russo One', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE Ð¸ Edge */
}
body::-webkit-scrollbar { display: none; } /* Chrome, Safari, Opera */
   
    
 /* -- Hero -- */
 
    .hero {
      width: 1800px;
      height: 900px;
      margin: 30px auto;
      border: 1px solid black;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .hero-subtitle {
      font-size: 36px;
      text-transform: uppercase;
      color: #aaa;
      text-align: center;
      margin: 0;
    }

    .hero-title {
      font-size: 128px;
      text-transform: uppercase;
      color: black;
      text-align: center;
      margin: 10px 0;
    }

    